body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9dede;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #5fa1bb;
    color: solid;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

tr:hover {
    background-color: #ffffff;
}

form {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #9c9898;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffffff;
}

footer {
    text-align: center;
    margin-top: 30px;
}