body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

nav {
    background-color: #eba715;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid rgb(248, 181, 36);
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444444;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    width: 80px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label,
p {
    margin-top: 10px;
}

button {
    margin-top: 15px;
}